* {
    font-family: bookman-jf-pro,serif;
    font-weight: 400;
    font-style: italic;
    background-color: darkgrey;
    
}
p {
    text-align: center;
}
.topnav {
    background-color: aquamarine;
    text-align: center;
    display: flex;
}
.link {
font-family: sans-serif;
}
