* {
    font-family: bookman-jf-pro,serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(111, 171, 165);
    text-decoration: none;
    text-align: center;
}
h1 {
    text-align: center;
    
}
p {
    text-align: center;
    font-family: soleil,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.topnav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.buttons {
    text-align: center;
}
.link {
font-family: sans-serif;
}
a { 
    color:rgb(31, 29, 31);
    text-decoration: none;
}
