* {
    font-family: bookman-jf-pro,serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(111, 171, 165);
    text-align: center;
    text-decoration: none;
    color:rgb(31, 29, 31);
}
p {
    font-family: soleil,sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul, li{
    text-align: left;
    font-family: soleil,sans-serif;
    font-weight: 400;
    font-style: normal;
}